@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #f5f5f5;
    color: #000;
    overflow-x: hidden !important;
    /* transition: 0.5s all ease; */
}


.dark body {
    background: #050505;
    color: #fff;
    overflow-x: hidden !important;

}


* {
    font-family: 'Lexend Deca', sans-serif;
    /* cursor: none !important; */
    scroll-behavior: smooth;
}

.weight-900 {
    font-weight: 900;
}

.weight-800 {
    font-weight: 800;
}

.weight-700 {
    font-weight: 700;
}

.weight-600 {
    font-weight: 600;
}

.weight-500 {
    font-weight: 500;
}

.weight-400 {
    font-weight: 400;
}

.weight-300 {
    font-weight: 300;
}

.weight-200 {
    font-weight: 200;
}

.weight-100 {
    font-weight: 100;
}


.color-layout {
    --color: #;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    filter: blur(44px);
    opacity: 25%;
    z-index: -1;
    position: fixed;
}


/* 
.layout-blue {
   
    background: radial-gradient(at 150% 0%, #39b5fb 0, transparent 50%);
} */

.layout-blue {
    /*  #3D25FA  #8825fa  */
    background: radial-gradient(at 150% 0%, #39b5fb 0, transparent 50%);
}

/* .layout-purple {
    top: 25%;
    background: radial-gradient(at 0% 150%, #ae2aff 0, transparent 50%);
} */

.layout-purple {
    top: 25%;
    background: radial-gradient(at 0% 150%, #ae2aff 0, transparent 50%);
}


.flip-effect {
    transition: 0.6s ease all;
    /* animation: animation-jump 2s ease-in-out infinite; */
    
    box-shadow: rgba(22, 31, 39, 0.42) ,
        rgba(19, 26, 32, 0.08) ;
}
.flip-effect:hover {
    background: rgba(59, 235, 176, 0.462);
}

.flip-effect:hover img {
    transform: perspective(300px) rotateY(-30deg) translateX(-30px) scale(1.2) ;
    /* filter: blur(0); */
    /* opacity: 1; */
    /* border-radius: 10px; */
}
.flip-effect:hover p {
    color: white;
}
.flip-effect img{
    /* border: 5px;
    border-radius: 10px; */
     /* animation: animation-jump 2s ease-in-out infinite; */
     /* transform: perspective(300px) rotateY(0) scale(1); */
     transition: 0.6s ease all;
}
